build-metadata.json

###
### Pantheon site .gitignore section
###
### Items below the "cut" line are still ignored on
### the Pantheon site. Items above the "cut" line
### are ignored in the GitHub repository, but committed
### to the Pantheon repository.
###

# WordPress #
############
web/wp-config-local.php
web/wp-cli.local.yml
web/wp-content/uploads
web/wp-content/blogs.dir/
web/wp-content/upgrade/
web/wp-content/backup-db/
web/wp-content/updraft/
web/wp-content/backupwordpress-*/
web/wp-content/managewp/backups/
web/wp-content/advanced-cache.php
web/wp-content/wp-cache-config.php
web/sitemap.xml
web/sitemap.xml.gz
*.log

# @TODO writable paths
web/wp-content/cache/
web/wp-content/backups/

# Avoid accidental modification of pantheon.upstream.yml in sites
# created from this upstream
pantheon.upstream.yml

# Ignore Composer- and NPM-managed dependencies
node_modules/
vendor/
# Ignore Pantheon dependencies
web/wp-content/mu-plugins/pantheon-mu-plugin/
web/wp-content/plugins/lh-hsts/
web/wp-content/plugins/pantheon-advanced-page-cache/
web/wp-content/plugins/wp-native-php-sessions/
# Ignore Altis things
web/wp-content/mu-plugins/altis-cms/
web/wp-content/mu-plugins/cavalcade/
web/wp-content/mu-plugins/consent-api/
web/wp-content/plugins/altis-accelerate/
web/wp-content/plugins/altis-reusable-blocks/
web/wp-content/plugins/amf-wordpress/
web/wp-content/plugins/asset-loader/
web/wp-content/plugins/asset-manager-framework/
web/wp-content/plugins/authorship/
web/wp-content/plugins/aws-rekognition/
web/wp-content/plugins/debug-bar-elasticpress/
web/wp-content/plugins/elasticpress/
web/wp-content/plugins/gaussholder/
web/wp-content/plugins/hm-redirects/
web/wp-content/plugins/safe-svg/
web/wp-content/plugins/simple-local-avatars/
web/wp-content/plugins/smart-media/
web/wp-content/plugins/tachyon-plugin/
web/wp-content/plugins/wordpress-seo/
web/wp-content/plugins/wp-user-signups/

# Packages #
############
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Logs and databases #
######################
*.log
*.sql

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
._*

# Vim generated files #
######################
*.un~

# SASS #
##########
.sass-cache
