.altis-analytics-root .Header,
#wp-admin-bar-altis {
	display: none;
}

#wp-admin-bar-pantheon {
	min-width: 160px;
	img {
		height: 32px;
	}
}

.edit-post-layout .components-notice-list,
.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper,
.edit-post-sidebar__panel-tab,
.edit-post-settings-sidebar__panel-block .components-panel__body .components-panel__body-toggle,
h1,
h2,
h3,
body,
.widefat ol,
.widefat p,
.widefat ul,
.view-switch a.current::before,
.ac_match,
.subsubsub a.current,
.widefat tfoot tr td,
.widefat tfoot tr th,
.widefat thead tr td,
.widefat thead tr th,
input[type="checkbox"],
input[type="color"],
input[type="date"],
input[type="datetime-local"],
input[type="datetime"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="radio"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
	color: var( --pantheon-blue );
}

.edit-post-header .input-control:focus,
.edit-post-header input[type="text"]:focus,
.edit-post-header input[type="search"]:focus,
.edit-post-header input[type="radio"]:focus,
.edit-post-header input[type="tel"]:focus,
.edit-post-header input[type="time"]:focus,
.edit-post-header input[type="url"]:focus,
.edit-post-header input[type="week"]:focus,
.edit-post-header input[type="password"]:focus,
.edit-post-header input[type="checkbox"]:focus,
.edit-post-header input[type="color"]:focus,
.edit-post-header input[type="date"]:focus,
.edit-post-header input[type="datetime"]:focus,
.edit-post-header input[type="datetime-local"]:focus,
.edit-post-header input[type="email"]:focus,
.edit-post-header input[type="month"]:focus,
.edit-post-header input[type="number"]:focus,
.edit-post-header select:focus,
.edit-post-header textarea:focus,
.edit-post-visual-editor .input-control:focus,
.edit-post-visual-editor input[type="text"]:focus,
.edit-post-visual-editor input[type="search"]:focus,
.edit-post-visual-editor input[type="radio"]:focus,
.edit-post-visual-editor input[type="tel"]:focus,
.edit-post-visual-editor input[type="time"]:focus,
.edit-post-visual-editor input[type="url"]:focus,
.edit-post-visual-editor input[type="week"]:focus,
.edit-post-visual-editor input[type="password"]:focus,
.edit-post-visual-editor input[type="checkbox"]:focus,
.edit-post-visual-editor input[type="color"]:focus,
.edit-post-visual-editor input[type="date"]:focus,
.edit-post-visual-editor input[type="datetime"]:focus,
.edit-post-visual-editor input[type="datetime-local"]:focus,
.edit-post-visual-editor input[type="email"]:focus,
.edit-post-visual-editor input[type="month"]:focus,
.edit-post-visual-editor input[type="number"]:focus,
.edit-post-visual-editor select:focus,
.edit-post-visual-editor textarea:focus,
.edit-post-text-editor .input-control:focus,
.edit-post-text-editor input[type="text"]:focus,
.edit-post-text-editor input[type="search"]:focus,
.edit-post-text-editor input[type="radio"]:focus,
.edit-post-text-editor input[type="tel"]:focus,
.edit-post-text-editor input[type="time"]:focus,
.edit-post-text-editor input[type="url"]:focus,
.edit-post-text-editor input[type="week"]:focus,
.edit-post-text-editor input[type="password"]:focus,
.edit-post-text-editor input[type="checkbox"]:focus,
.edit-post-text-editor input[type="color"]:focus,
.edit-post-text-editor input[type="date"]:focus,
.edit-post-text-editor input[type="datetime"]:focus,
.edit-post-text-editor input[type="datetime-local"]:focus,
.edit-post-text-editor input[type="email"]:focus,
.edit-post-text-editor input[type="month"]:focus,
.edit-post-text-editor input[type="number"]:focus,
.edit-post-text-editor select:focus,
.edit-post-text-editor textarea:focus,
.edit-post-sidebar .input-control:focus,
.edit-post-sidebar input[type="text"]:focus,
.edit-post-sidebar input[type="search"]:focus,
.edit-post-sidebar input[type="radio"]:focus,
.edit-post-sidebar input[type="tel"]:focus,
.edit-post-sidebar input[type="time"]:focus,
.edit-post-sidebar input[type="url"]:focus,
.edit-post-sidebar input[type="week"]:focus,
.edit-post-sidebar input[type="password"]:focus,
.edit-post-sidebar input[type="checkbox"]:focus,
.edit-post-sidebar input[type="color"]:focus,
.edit-post-sidebar input[type="date"]:focus,
.edit-post-sidebar input[type="datetime"]:focus,
.edit-post-sidebar input[type="datetime-local"]:focus,
.edit-post-sidebar input[type="email"]:focus,
.edit-post-sidebar input[type="month"]:focus,
.edit-post-sidebar input[type="number"]:focus,
.edit-post-sidebar select:focus,
.edit-post-sidebar textarea:focus,
.editor-post-publish-panel .input-control:focus,
.editor-post-publish-panel input[type="text"]:focus,
.editor-post-publish-panel input[type="search"]:focus,
.editor-post-publish-panel input[type="radio"]:focus,
.editor-post-publish-panel input[type="tel"]:focus,
.editor-post-publish-panel input[type="time"]:focus,
.editor-post-publish-panel input[type="url"]:focus,
.editor-post-publish-panel input[type="week"]:focus,
.editor-post-publish-panel input[type="password"]:focus,
.editor-post-publish-panel input[type="checkbox"]:focus,
.editor-post-publish-panel input[type="color"]:focus,
.editor-post-publish-panel input[type="date"]:focus,
.editor-post-publish-panel input[type="datetime"]:focus,
.editor-post-publish-panel input[type="datetime-local"]:focus,
.editor-post-publish-panel input[type="email"]:focus,
.editor-post-publish-panel input[type="month"]:focus,
.editor-post-publish-panel input[type="number"]:focus,
.editor-post-publish-panel select:focus,
.editor-post-publish-panel textarea:focus,
.components-popover .input-control:focus,
.components-popover input[type="text"]:focus,
.components-popover input[type="search"]:focus,
.components-popover input[type="radio"]:focus,
.components-popover input[type="tel"]:focus,
.components-popover input[type="time"]:focus,
.components-popover input[type="url"]:focus,
.components-popover input[type="week"]:focus,
.components-popover input[type="password"]:focus,
.components-popover input[type="checkbox"]:focus,
.components-popover input[type="color"]:focus,
.components-popover input[type="date"]:focus,
.components-popover input[type="datetime"]:focus,
.components-popover input[type="datetime-local"]:focus,
.components-popover input[type="email"]:focus,
.components-popover input[type="month"]:focus,
.components-popover input[type="number"]:focus,
.components-popover select:focus,
.components-popover textarea:focus,
.components-modal__frame .input-control:focus,
.components-modal__frame input[type="text"]:focus,
.components-modal__frame input[type="search"]:focus,
.components-modal__frame input[type="radio"]:focus,
.components-modal__frame input[type="tel"]:focus,
.components-modal__frame input[type="time"]:focus,
.components-modal__frame input[type="url"]:focus,
.components-modal__frame input[type="week"]:focus,
.components-modal__frame input[type="password"]:focus,
.components-modal__frame input[type="checkbox"]:focus,
.components-modal__frame input[type="color"]:focus,
.components-modal__frame input[type="date"]:focus,
.components-modal__frame input[type="datetime"]:focus,
.components-modal__frame input[type="datetime-local"]:focus,
.components-modal__frame input[type="email"]:focus,
.components-modal__frame input[type="month"]:focus,
.components-modal__frame input[type="number"]:focus,
.components-modal__frame select:focus,
.components-modal__frame textarea:focus {
	color: var( --pantheon-blue );
	border-color: var( --pantheon-blue );
	box-shadow: 0 0 0 1px var( --pantheon-blue );
}

/* Customizer */
#customize-controls .control-section .accordion-section-title:focus,
#customize-controls .control-section .accordion-section-title:hover,
#customize-controls .control-section.open .accordion-section-title,
#customize-controls .control-section:hover > .accordion-section-title {
	color: var( --pantheon-blue );
	background: #f3f3f5;
	border-left-color: var( --pantheon-blue );
}

#customize-outer-theme-controls .control-section .accordion-section-title:focus::after,
#customize-outer-theme-controls .control-section .accordion-section-title:hover::after,
#customize-outer-theme-controls .control-section.open .accordion-section-title::after,
#customize-outer-theme-controls .control-section:hover > .accordion-section-title::after,
#customize-theme-controls .control-section .accordion-section-title:focus::after,
#customize-theme-controls .control-section .accordion-section-title:hover::after,
#customize-theme-controls .control-section.open .accordion-section-title::after,
#customize-theme-controls .control-section:hover > .accordion-section-title::after {
	color: var( --pantheon-blue );
}

.customize-controls-close:focus,
.customize-controls-close:hover,
.customize-controls-preview-toggle:focus,
.customize-controls-preview-toggle:hover {
	color: var( --pantheon-blue );
	border-top-color: var( --pantheon-blue );
}

.media-frame input[type="email"]:focus,
.media-frame input[type="number"]:focus,
.media-frame input[type="password"]:focus,
.media-frame input[type="search"]:focus,
.media-frame input[type="text"]:focus,
.media-frame input[type="url"]:focus,
.media-frame select:focus,
.media-frame textarea:focus {
	border-color: var( --pantheon-blue );
}

input[type="checkbox"]:focus,
input[type="color"]:focus,
input[type="date"]:focus,
input[type="datetime-local"]:focus,
input[type="datetime"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="radio"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus,
select:focus,
textarea:focus {
	border-color: var( --pantheon-blue );
	color: var( --pantheon-blue );
}

.wp-core-ui input[type="checkbox"]:focus,
.wp-core-ui input[type="color"]:focus,
.wp-core-ui input[type="date"]:focus,
.wp-core-ui input[type="datetime-local"]:focus,
.wp-core-ui input[type="datetime"]:focus,
.wp-core-ui input[type="email"]:focus,
.wp-core-ui input[type="month"]:focus,
.wp-core-ui input[type="number"]:focus,
.wp-core-ui input[type="password"]:focus,
.wp-core-ui input[type="radio"]:focus,
.wp-core-ui input[type="search"]:focus,
.wp-core-ui input[type="tel"]:focus,
.wp-core-ui input[type="text"]:focus,
.wp-core-ui input[type="time"]:focus,
.wp-core-ui input[type="url"]:focus,
.wp-core-ui input[type="week"]:focus,
.wp-core-ui select:focus,
.wp-core-ui textarea:focus {
	border-color: var( --pantheon-blue );
	color: var( --pantheon-blue );
	box-shadow: 0 0 0 1px var( --pantheon-blue );
}

.components-modal__content input[type="checkbox"]:checked,
.components-modal__content input[type="radio"]:checked,
.components-popover input[type="checkbox"]:checked,
.components-popover input[type="radio"]:checked,
.edit-post-sidebar input[type="checkbox"]:checked,
.edit-post-sidebar input[type="radio"]:checked,
.editor-block-list__block input[type="checkbox"]:checked,
.editor-block-list__block input[type="radio"]:checked,
.editor-post-permalink input[type="checkbox"]:checked,
.editor-post-permalink input[type="radio"]:checked,
.editor-post-publish-panel input[type="checkbox"]:checked,
.editor-post-publish-panel input[type="radio"]:checked {
	border-color: var( --pantheon-blue );
	background: var( --pantheon-blue );
}

.components-form-toggle.is-checked .components-form-toggle__track {
	background-color: var( --pantheon-blue );
}

.components-popover input[type="search"].editor-inserter__search:focus {
	border-color: var( --pantheon-blue );
	box-shadow: 0 0 0 1px var( --pantheon-blue );
}

.editor-block-list__insertion-point-inserter .editor-inserter__toggle {
	color: var( --pantheon-blue );
}

.components-form-token-field__input-container.is-active {
	border-color: var( --pantheon-blue );
	box-shadow: 0 0 0 1px var( --pantheon-blue );
}

#adminmenu .wp-submenu a,
#adminmenu .wp-has-current-submenu .wp-submenu a,
.folded #adminmenu .wp-has-current-submenu .wp-submenu a,
#adminmenu a.wp-has-current-submenu:focus + .wp-submenu a,
#adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
	color: var( --pantheon-white );
}